body {
  min-width: 500px;
}
.invalid {
  background: #fff;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
  background: url(/images/interface.png) no-repeat 97% center;
}
.glyphicon-ok-sign {
  color: #357539;
}
.glyphicon-remove-sign {
  color: #bf4540;
}
.btn {
  margin-bottom: 5px;
}
