body {
  min-width: 500px;
  padding-bottom: 30px;
}
#extension-title {
  background-image: url(/images/icon32.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding: 5px;
  padding-left: 40px;
}
.invalid {
  background-image: url(/images/interface.png);
  background-repeat: no-repeat;
}
.valid {
  background-image: url(/images/check.png);
  background-repeat: no-repeat;
}
input.invalid {
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535;
  background-color: #fff;
  background-position: 97% center;
}
#status {
  padding: 10px;
  padding-right: 30px;
}
#status.invalid, #status.valid {
  background-position: right center;
}
.btn {
  margin-bottom: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.footer h3 {
  margin: 0;
}
#help-menu-toggle:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
}
#help-menu-toggle.collapsed:before {
  content: "\e113";
}
#help-menu-example1 {
  text-align: center;
}
#help-menu-example1 img {
  margin: 0 auto;
}
